* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-main {
    position: relative;
    background: linear-gradient(135deg, #3498db, #e74c3c);
    padding: 2vw 0;
    min-height: 100vh;
}

h1 {
    color: #fff;
    font-size: 3vw;
    font-family: 'Bree Serif';
    padding: 2vw 0 2vw;
    text-align: center;
}

.search-form {
    width: 80%;
    height: 5vw;
    margin: 2vw auto;
    display: flex;
    align-items: center;
}
.reduceOpacity{
    opacity: 0.5;
}

#search-for {
    flex: 1;
    height: 5vw;
    padding: 0 3vw;
    font-size: 1.5vw;
    border-radius: 1vw 0 0 1vw;
    border: none;
    font-weight: bold;
    outline: none;
}

::placeholder {
    font-size: large;
}

#show-moreBtn, #search-btn {
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#search-btn {
    height: 5vw;
    width: 10vw;
    border-radius: 0 1vw 1vw 0;
}

p {
    width: 90%;
    margin: auto;
    color: #fff;
    font-size: 2vw;
    margin: 2vw 5vw;
}

.imgs {
    display: flex;
    position: relative;
}

.search-results {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2vw;
}

.imgs {
    width: 100%;
    height: 100%;
}

.imgs img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    position: relative;
    border-radius: 1vw;
    z-index: 0;
}

.imgs .download-icon {
    width: 2vw;
    height: 2vw;
    background-color: white;
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    border-radius: 50%;
    padding: 0.5vw;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.imgs:hover .download-icon {
    display: block;
}

.download-icon i {
    color: black;
}

#show-moreBtn {
    height: 4vw;
    width: 8vw;
    border-radius: 0.5vw;
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 45vw;
}

#show-moreBtn i {
    font-size: 1.4vw;
    font-weight: bold;
}

@media (max-width: 600px) {
    .search-main{
        min-height: 80vh;
    }
    h1 {
        font-size: 5vw;
    }

    .search-form {
        height: 9vw;
    }

    #search-for {
        height: 9vw;
        line-height: 9vw;
        font-size: 3.3vw;
    }

    ::placeholder {
        font-size: 3vw;
    }

    #search-btn {
        height: 9vw;
        width: 15vw;
        font-size: 2.5vw;
    }

    p {
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .search-results {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.6vw;
    }

    .search-results img {
        height: 40vw;
    }

    .imgs .download-icon{
        width: 6vw;
        height: 6vw;
    }
    .imgs .download-icon i{
        padding: 0.5vw 1vw 1vw 1vw;
    }

    #show-moreBtn {
        height: 9vw;
        width: 15vw;
        font-size: 3vw;
    }

    #show-moreBtn i {
        font-size: 3vw;
    }
}